$main-color: #39A5B3;
$error-background-color: #FFCCCC; 
$error-color: #660000;
$delete-color: #660000;
$link-color: #3867B2;
$pr-success-color: #59A80F;
$pr-error-color: #B28438;
$pr-failure-color: #A40802;
$pr-pending-color: $main-color;
